<section class="TodoSection">
  <div class="TodoSection-title">
    <p class="TodoSectionTitle_text"><%= section_head %></p>
    <p class="TodoSectionTitle_remainingCount"><%= (render_completed) ? "#{todos.completed.count} /#{todos.count}" :  "0 /#{todos.count - todos.completed.count}" %></p>
  </div>

  <ul>
    <% todos.all.each do |todo| %>
        <li class="TodoItem">
          <%= form_with(url: "/todos/#{todo.id}", method: "put") do %>
              <%= check_box_tag 'completed',
                value = "finished",
                checked = todo.completed ? true : false,
                class: 'TodoItem_checkbox',
                onclick:"this.form.submit()"
                %>
          <% end %>

          <p class = <%= (todo.completed) ? "TodoItem_completed" : "TodoItem_Text" %>> <%= todo.todo_text %> </p>

          <% if(show_due_date) %>
            <p class="TodoItem_date"><%= todo.due_date.to_s(:short) %></p>
          <% end %>
          
          <a href="javascript:void(0)" class="TodoItem_delete">
            <%= form_with(url: "/todos/#{todo.id}", method: "delete") do %>
              <%= image_submit_tag("trashcan.png") %>
            <% end %>
          </a>
       </li>
    <%end%>
  </ul>

</section>
