<section class="TodoSection">
  <div class="TodoSection-title">
    <p class="TodoSectionTitle_text"><%= section_head %></p>
    <% count = (section_head == "Overdue") ? "0 /" + (todos.count - todos.completed.count).to_s : todos.completed.count.to_s + " /" +  todos.count.to_s %>
    <p class="TodoSectionTitle_remainingCount"><%= count %></p>
  </div>

  <ul>
    <% todos.all.each do |todo| %>
      <%# 1. Listing only incompleted todo in Overdue Section %>
      <% if !(section_head == "Overdue" && todo.completed) %>
        <li class="TodoItem">

            <%# 2. Marking the completed todo's checkbox ticked %>
            <% if (todo.completed) %>
              <input type="checkbox" class="TodoItem_checkbox" checked/>
            <% else %>
              <input type="checkbox" class="TodoItem_checkbox"/>
            <% end %>

            <%# 3.  Striking the todo which is completed %>
            <% className =  (todo.completed) ? "TodoItem_completed" : "TodoItem_Text" %>
            <p class = <%= className %> ><%= todo.todo_text %></p>

            <% if(show_due_date) %>
              <p class="TodoItem_date"><%= todo.due_date.to_s(:short) %></p>
            <% end %>

            <a href="javascript:void(0)" class="TodoItem_delete">
              <img src="trashcan.png" alt="DeleteIcon"
            /></a>

          </li>
      <% end %>
      <%end%>
  </ul>

</section>
