<main class="TodoPageMain">
      <h1 class="TodoPage-title">My Todo-List</h1>

      <%= form_with(url: "/todos", method: "post" , class: "AddTodo") do %>
        <%= text_field_tag 'todo_text', nil, placeholder: "what's next ?", class: 'AddTodo-text' %>
        <%= date_field_tag 'due_date', nil, class: 'AddTodo-date' %>
        <%= submit_tag "Add", class: "AddTodo-button" %>
      <% end %>
      <%= render partial: "todo-section", locals: {
          section_head: "Overdue",
          todos: @todos.overdue,
          show_due_date: true,
          render_completed: false,
       } %>
       <%= render partial: "todo-section", locals: {
          section_head: "Due Today",
          todos: @todos.due_today,
          show_due_date: false,
          render_completed: true,
      } %>
       <%= render partial: "todo-section", locals: {
          section_head: "Due Later",
          todos: @todos.due_later,
          show_due_date: true,
          render_completed: true,
      } %>
</main>
